[submodule "ROS2_Master/test_bench_ws/src/libsick_ldmrs"]
	path = ROS2_Master/test_bench_ws/src/libsick_ldmrs
	url = https://github.com/SICKAG/libsick_ldmrs.git
[submodule "ROS2_Master/test_bench_ws/src/sick_scan_xd"]
	path = ROS2_Master/test_bench_ws/src/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd.git
