<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="LIDAR_dims" value="0.1 0.1 0.1"/>
    <xacro:property name="LIDAR_xyz" value="0.0 0.0 2.0"/>
    <xacro:property name="LIDAR_rot" value="0.0 0.0 0.0"/>

    <!-- LIDAR Link-->
    <link name="LIDAR" type="fixed">
        <visual>
            <geometry>
                <box size="${LIDAR_dims}"/>
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="LIDAR_joint" type="fixed">
        <parent link="zero_point"/>
        <child link="LIDAR"/>
        <origin xyz="${LIDAR_xyz}" rpy="${LIDAR_rot}"/>
    </joint>
</robot>
