<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="MM_dims" value="0.1 0.1 0.1"/>
    <xacro:property name="MM_xyz" value="1.18 .72 .808"/>
    <xacro:property name="MM_rot" value="0.0 0.0 0.0"/>

    <!-- MM Link-->
    <link name="MM" type="fixed">
        <visual>
            <geometry>
                <box size="${MM_dims}"/>
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="MM_joint" type="fixed">
        <parent link="zero_point"/>
        <child link="MM"/>
        <origin xyz="${MM_xyz}" rpy="${MM_rot}"/>
    </joint>
    
</robot>
